<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yum</title>
    <link rel="stylesheet" href="/main.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
<div id="wapper">
    <img class="logoImg" src="https://velog.velcdn.com/images/ohtj6644/post/782e03fc-321d-40f7-b4e8-2124f692a11e/image.png" alt="">
    <div class="select1">
        <select class="select" >
            <option value="0">Category1</option>
            <option value="한식">한식</option>
            <option value="일식">일식</option>
            <option value="중식">중식</option>
            <option value="양식">양식</option>
        </select>
        <select class="select">
            <option value="0">Category2</option>
            <option value="찜/탕">찜/탕</option>
            <option value="면">면</option>
            <option value="볶음">볶음</option>
            <option value="튀김">튀김</option>
            <option value="기타">기타</option>
        </select>
        <select class="test">
            <option value="0">Category3</option>
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
            <option value="5">6</option>
            <option value="6">7</option>
        </select>
    </div>
    <a href="#"  class="custom-link"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp; Search </a>
</div>

<script>
    (function ( $ ) {
	var elActive = '';
    $.fn.selectCF = function( options ) {

        // option
        var settings = $.extend({
            color: "#FFF", // color
            backgroundColor: "#FC9E24", // background
			change: function( ){ }, // event change
        }, options );

        return this.each(function(){

			var selectParent = $(this);
				list = [],
				html = '';

			//parameter CSS
			var width = $(selectParent).width();

			$(selectParent).hide();
			if( $(selectParent).children('option').length == 0 ){ return; }
			$(selectParent).children('option').each(function(){
				if( $(this).is(':selected') ){ s = 1; title = $(this).text(); }else{ s = 0; }
				list.push({
					value: $(this).attr('value'),
					text: $(this).text(),
					selected: s,
				})
			})

			// style
			var style = " background: "+settings.backgroundColor+"; color: "+settings.color+" ";

			html += "<ul class='selectCF'>";
			html += 	"<li>";
			html += 		"<span class='arrowCF ion-chevron-right' style='"+style+"'></span>";
			html += 		"<span class='titleCF' style='"+style+"; width:"+width+"px'>"+title+"</span>";
			html += 		"<span class='searchCF' style='"+style+"; width:"+width+"px'><input style='color:"+settings.color+"' /></span>";
			html += 		"<ul>";
			$.each(list, function(k, v){ s = (v.selected == 1)? "selected":"";
			html += 			"<li value="+v.value+" class='"+s+"'>"+v.text+"</li>";})
			html += 		"</ul>";
			html += 	"</li>";
			html += "</ul>";
			$(selectParent).after(html);
			var customSelect = $(this).next('ul.selectCF'); // add Html
			var seachEl = $(this).next('ul.selectCF').children('li').children('.searchCF');
			var seachElOption = $(this).next('ul.selectCF').children('li').children('ul').children('li');
			var seachElInput = $(this).next('ul.selectCF').children('li').children('.searchCF').children('input');

			// handle active select
			$(customSelect).unbind('click').bind('click',function(e){
				e.stopPropagation();
				if($(this).hasClass('onCF')){
					elActive = '';
					$(this).removeClass('onCF');
					$(this).removeClass('searchActive'); $(seachElInput).val('');
					$(seachElOption).show();
				}else{
					if(elActive != ''){
						$(elActive).removeClass('onCF');
						$(elActive).removeClass('searchActive'); $(seachElInput).val('');
						$(seachElOption).show();
					}
					elActive = $(this);
					$(this).addClass('onCF');
					$(seachEl).children('input').focus();
				}
			})

			// handle choose option
			var optionSelect = $(customSelect).children('li').children('ul').children('li');
			$(optionSelect).bind('click', function(e){
				var value = $(this).attr('value');
				if( $(this).hasClass('selected') ){
					//
				}else{
					$(optionSelect).removeClass('selected');
					$(this).addClass('selected');
					$(customSelect).children('li').children('.titleCF').html($(this).html());
					$(selectParent).val(value);
					settings.change.call(selectParent); // call event change
				}
			})

			// handle search
			$(seachEl).children('input').bind('keyup', function(e){
				var value = $(this).val();
				if( value ){F
					$(customSelect).addClass('searchActive');
					$(seachElOption).each(function(){
						if( $(this).text().search(new RegExp(value, "i")) < 0 ) {
							// not item
							$(this).fadeOut();
						}else{
							// have item
							$(this).fadeIn();
						}
					})
				}else{
					$(customSelect).removeClass('searchActive');
					$(seachElOption).fadeIn();
				}
			})

		});
    };
	$(document).click(function(){
		if(elActive != ''){
			$(elActive).removeClass('onCF');
			$(elActive).removeClass('searchActive');
		}
	})
}( jQuery ));

$(function(){
  var event_change = $('#event-change');
  $( ".select" ).selectCF({
    change: function(){
      var value = $(this).val();
      var text = $(this).children('option:selected').html();
      console.log(text);
      event_change.html(text);
    }
  });
  $( ".test" ).selectCF({
    color: "#FFF",
    backgroundColor: "#FC9E24",
  });
})

</script>
</body>
</html>